*{
    box-sizing: border-box;

}
body{
 margin: 0;   
color: black;
}
nav{

    background-color: white;
}
.navbar-nav {
    --bs-navbar-color: rgb(0 0 0);
   
}
    

#top-elements{
    color: black;
    text-align: center;
    padding: 5em;
}
.conteiner-top{
    display: flex;
    padding: 10em;
}
.conteiner-top{
 display: flex;
}
.conteiner{

    display: flex;
   text-align: center;
   justify-content: center;
    align-items: baseline;
    height: 62.5em;
 
 
    }
    
    .conteiner > div{
 
 text-align: center;
  flex-wrap: wrap;
 
 
  
}
#conteiner__top{
    width: auto;
    padding: 8vh;
    height: 15vh;
     text-align: center;
    }